extends layout 

block content 
	.login-form
		small.error-msg #{errorMsg}
		form(action="", method="post")
			label(for="email") 이메일
			input(type="text", name="email", id="email", placeholder="이메일", required)
			label(for="password") 비밀번호 
			input(type="password", name="password", id="password", placeholder="비밀번호", required)
			input(type="password", name="password2", id="password2", placeholder="비밀번호 확인", required)
			label(for="name") 이름
			input(type="text", name="name", id="name", placeholder="이름", required)
			label(for="nickname") 별명
			input(type="text", name="nickname", id="nickname", placeholder="별명", required)
			button(type="submit") 가입