<html>
	<body>
	  <div>
		<p style='color:black'>회원 가입을 위한 링크입니다.</p>
		<p style='color:black'>아래의 링크에 접속하여 인증을 완료해주세요.</p>
		<h3>
			<a href="<%= authUrl %>">여기를 클릭해줘!</a>
		</h3>
	  </div>
	</body>
</html>